input[type='radio'] { transform: scale(2); }
.basic_text{
	font-family:Microsoft JhengHei;
	background-color: #222222;
	color:#FFFFFF;
}
#font{
	/*text-shadow:3px 3px 3px #cccccc;*/
	margin-left:10px
}
#panel,#panel_table, #flip_panel {
	padding: 5px;
	text-align: left;
	background-color: #253730;
	border: solid 1px #8FBC8F;
	color:#FFFFFF;
}
#panel,#panel_table {
	/*由上至下，上面的style會被洗掉*/
	text-align: center;
	padding: 10px;
	display: none;
}
#panel a, #panel_tabl a,#flip_panel a{
	color:#FFFFFF;
	hover:#AFEEEE;
}
#final_a{
	color:#AFEEEE;
}
#panel_table {
	/*由上至下，上面的style會被洗掉*/
	align:center;
}
