input[type='radio'] { transform: scale(2); }
		#panel,#panel_table, #flip_panel {
			padding: 5px;
			text-align: left;
			background-color: #F0FFF0;
			border: solid 1px #0088A8;
		}
		#panel,#panel_table {
			/*由上至下，上面的style會被洗掉*/
			text-align: center;
			padding: 10px;
			display: none;
		}
		#panel_table {
			/*由上至下，上面的style會被洗掉*/
			align:center;
		}
		.basic_text{
			font-family:Microsoft JhengHei;
		}
		#font{
			color:#003377;
			text-shadow:3px 3px 3px #cccccc;
			font-family:Microsoft JhengHei;
			margin-left:10px
		}		